body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.card {
    background-color: lightyellow;
    /*background-image: url('https://media.giphy.com/media/2U16e3nEkPXOg/giphy.gif');*/
    width: 200px;
    padding: 15px;
    box-shadow: 2px 2px 5px black;
    border: solid 1px black;
    background-size: cover;
    display: inline-block;
    margin: 20px;
}

.card-title {

}

.card-text {

}

.img-fadein {
    animation: fadeIn;
    animation-duration: 3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        rotation: 0;
    }
    to {
        opacity: 1;
        rotation: 100000deg;
    }
}